In [1]:
import pandas as pd
from pandasql import sqldf
import pyparsing as pyp
from os import path
import string

DATA_IN = '../../data/raw/Jefferson_County_KY_Street_Intersections.csv'
assert path.exists(DATA_IN)

df = INTXN = pd.read_csv(DATA_IN)

In [2]:
SIG_IN = '../../data/raw/Jefferson_County_KY_Signalized_Intersections.csv'
assert path.exists(SIG_IN)

SIG = pd.read_csv(SIG_IN)

In [3]:
selection = sqldf("SELECT INTXN.OBJECTID, SIG.INTID FROM INTXN JOIN SIG ON INTXN.INTID == SIG.INTID")

In [4]:
no_lights = INTXN[~INTXN.OBJECTID.isin(selection.OBJECTID)]
no_lights.head()

,X,Y,OBJECTID,SIFCODE1,SIFCODE2,INTID,SCCAD_ID,FST_INTPRE,FST_INTNAME,FST_INTSUF,SEC_INTPRE,SEC_INTNAME,SEC_INTSUF,X_COORD,Y_COORD,FST_SIFID,SEC_SIFID,GLOBALID
0,-85.510444,38.205887,1,5464,7662,154647662,1,,REHL,RD,W,REHL,CT,1.278243e+06,259531.93750,4976,6856,{CD0D9D51-41FB-46FF-B229-AC9C0DDB7E61}
1,-85.528169,38.200376,2,5464,6551,254646551,2,,REHL,RD,,TUCKER STATION,RD,1.273126e+06,257588.25000,4976,5908,{A9FAED81-F7AE-436F-A657-F95FE1B905E8}
2,-85.528419,38.200360,3,5464,6551,354646551,3,,REHL,RD,,TUCKER STATION,RD,1.273051e+06,257590.85375,4976,5908,{71155AF3-3487-4EDA-8B72-B282378DE7F3}
3,-85.504954,38.222603,4,3194,9996,431949996,4,,I 64 EAST,,,I 265 RAMP,,1.279903e+06,265597.50000,3076,8763,{AD332CAB-27B0-48B7-ACBF-5CDEEC31654B}
4,-85.505546,38.222127,5,9349,9996,593499996,5,,I 265 NORTH,,,I 265 RAMP,,1.279731e+06,265426.43750,8197,8763,{0FE38BAB-8B39-4BE8-BA57-1DAA46FDD4BC}

In [5]:
INTXN.FST_INTPRE.value_counts()
def directional_code(s:str):
    for cardinal in "NSEW":
        if s.startswith(cardinal + ' '):
            return 
SIG.MAINSTREET

0              OLD HENRY
1            SHELBYVILLE
2            SHELBYVILLE
3             BROWNSBORO
4                   HERR
              ...
1086         BILLTOWN RD
1087        OLD HENRY RD
1088         WESTPORT RD
1089    BEULAH CHURCH RD
1090            ZORN AVE
Name: MAINSTREET, Length: 1091, dtype: object

In [6]:
SIG[SIG.INTID == '2'][['SIGID', 'MAINSTREET', "CROSSSTREET"]]

          SIGID    MAINSTREET     CROSSSTREET
33    SIG009873   FERN VALLEY  SHEPHERDSVILLE
107   SIG011928     BARDSTOWN       WATTERSON
109   SIG011021     BARDSTOWN         BUECHEL
260   SIG011671     BARDSTOWN    BRECKENRIDGE
261   SIG009882     RANGELAND  SHEPHERDSVILLE
323   SIG011155     BARDSTOWN       FEGENBUSH
324   SIG010230      PROGRESS    BUECHEL BANK
433   SIG010581  BUECHEL BANK         BUECHEL
434   SIG009924  BUECHEL BANK  SHEPHERDSVILLE
552   SIG008802         NAOMI    POPLAR LEVEL
619   SIG008826   FERN VALLEY            GEIL
689   SIG008481        INDIAN         JEANINE
708   SIG011008     FEGENBUSH      BURNT PINE
713   SIG017881  BUECHEL BANK   COTTAGEMEADOW
752   SIG008473   FERN VALLEY         JEANINE
757   SIG008643        INDIAN    POPLAR LEVEL
780   SIG017880      PROGRESS    BUECHEL BANK
879   SIG008306  POPLAR LEVEL         PRODUCE
881   SIG008752  POPLAR LEVEL       RANGELAND
937   SIG008009   FERN VALLEY         PRESTON
939   SIG007692       PRESTON        VINEWOOD
952   SIG009226   FERN VALLEY       JEFFERSON
1001  SIG009241  POPLAR LEVEL       JEFFERSON

In [7]:
SIG[SIG.CROSSSTREET.str.startswith("W ")]

,X,Y,OBJECTID,UNITID,SIGID,MAINSTREET,CROSSSTREET,OWNER2,ROUTE,MILEPOINT,DESCRIPTION,TIMES,OWNER,TYPE,INTID,ATMSID
675,-85.751565,38.256082,676,MPW006008,SIG006008,N 1ST ST,W MAIN ST,S,US 31W,17.789,N 1ST ST @ W MAIN ST,24 HOURS,KYTC,1,1675922222223,NaN

In [8]:
SIG[SIG.INTID == "2"]

,X,Y,OBJECTID,UNITID,SIGID,MAINSTREET,CROSSSTREET,OWNER2,ROUTE,MILEPOINT,DESCRIPTION,TIMES,OWNER,TYPE,INTID,ATMSID
33,-85.659799,38.156232,34,MPW009873,SIG009873,FERN VALLEY,SHEPHERDSVILLE,S,KY-2052,1.21,FERN VALLEY @ SHEPHERDSVILLE,24 HOURS,KYTC,1,2,NaN
107,-85.622576,38.178835,108,MPW011928,SIG011928,BARDSTOWN,WATTERSON,S,US-31E,8.42,BARDSTOWN @ WATTERSON,24 HOURS,KYTC,1,2,NaN
109,-85.639979,38.188317,110,MPW011021,SIG011021,BARDSTOWN,BUECHEL,S,US-31E,9.55,BARDSTOWN @ BUECHEL,24 HOURS,KYTC,1,2,NaN
260,-85.626856,38.181212,261,MPW011671,SIG011671,BARDSTOWN,BRECKENRIDGE,S,US-31E,8.69,BARDSTOWN @ BRECKENRIDGE,24 HOURS,KYTC,1,2,NaN
261,-85.659858,38.164400,262,MPW009882,SIG009882,RANGELAND,SHEPHERDSVILLE,S,KY-2052,1.78,RANGELAND @ SHEPHERDSVILLE,24 HOURS,KYTC,1,2,NaN
323,-85.637899,38.187215,324,MPW011155,SIG011155,BARDSTOWN,FEGENBUSH,S,US-31E,9.44,BARDSTOWN @ FEGENBUSH,24 HOURS,KYTC,1,2,NaN
324,-85.653170,38.178192,325,MPW010230,SIG010230,PROGRESS,BUECHEL BANK,M,NaN,NaN,PROGRESS @ BUECHEL BANK,24 HOURS,METRO,1,2,NaN
433,-85.647707,38.190733,434,MPW010581,SIG010581,BUECHEL BANK,BUECHEL,S,US-31E,10.04,BUECHEL BANK @ BUECHEL,24 HOURS,KYTC,1,2,NaN
434,-85.659382,38.178782,435,MPW009924,SIG009924,BUECHEL BANK,SHEPHERDSVILLE,S,KY-1703,0.00,BUECHEL BANK @ SHEPHERDSVILLE,24 HOURS,KYTC,1,2,NaN
552,-85.680312,38.165333,553,MPW008802,SIG008802,NAOMI,POPLAR LEVEL,S,KY-864,8.72,NAOMI @ POPLAR LEVEL,24 HOURS,KYTC,1,2,NaN
619,-85.679739,38.157416,620,MPW008826,SIG008826,FERN VALLEY,GEIL,S,KY-1747,2.88,FERN VALLEY @ GEIL,24 HOURS,KYTC,1,2,NaN
689,-85.688661,38.170719,690,MPW008481,SIG008481,INDIAN,JEANINE,M,NaN,NaN,INDIAN @ JEANINE,24 HOURS,METRO,1,2,NaN
708,-85.639918,38.171739,709,MPW011008,SIG011008,FEGENBUSH,BURNT PINE,M,NaN,NaN,FEGENBUSH @ BURNT PINE,24 HOURS,METRO,1,2,NaN
713,-85.649016,38.177940,714,MPW017881,SIG017881,BUECHEL BANK,COTTAGEMEADOW,M,NaN,NaN,BUECHEL BANK @ COTTAGEMEADOW,24 HOURS,METRO,1,2,NaN
752,-85.688547,38.157864,753,MPW008473,SIG008473,FERN VALLEY,JEANINE,S,KY-1747,2.40,FERN VALLEY @ JEANINE,24 HOURS,KYTC,1,2,NaN
757,-85.684932,38.171583,758,MPW008643,SIG008643,INDIAN,POPLAR LEVEL,S,KY-864,9.22,INDIAN @ POPLAR LEVEL,24 HOURS,KYTC,1,2,NaN
780,-85.651552,38.178105,781,MPW017880,SIG017880,PROGRESS,BUECHEL BANK,M,NaN,NaN,PROGRESS @ BUECHEL BANK,24 HOURS,METRO,1,2,NaN
879,-85.691936,38.179190,880,MPW008306,SIG008306,POPLAR LEVEL,PRODUCE,S,KY-864,9.87,POPLAR LEVEL @ PRODUCE,24 HOURS,KYTC,1,2,NaN
881,-85.681742,38.167278,882,MPW008752,SIG008752,POPLAR LEVEL,RANGELAND,S,KY-864,8.88,POPLAR LEVEL @ RANGELAND,24 HOURS,KYTC,1,2,NaN
937,-85.696966,38.156849,938,MPW008009,SIG008009,FERN VALLEY,PRESTON,S,KY-61,5.36,FERN VALLEY @ PRESTON,24 HOURS,KYTC,1,2,NaN
939,-85.704132,38.166456,940,MPW007692,SIG007692,PRESTON,VINEWOOD,S,KY-61,6.13,PRESTON @ VINEWOOD,24 HOURS,KYTC,1,2,NaN
952,-85.671509,38.156949,953,MPW009226,SIG009226,FERN VALLEY,JEFFERSON,S,KY-1747,3.33,FERN VALLEY @ JEFFERSON,24 HOURS,KYTC,1,2,NaN
1001,-85.671337,38.160110,1002,MPW009241,SIG009241,POPLAR LEVEL,JEFFERSON,S,KY-864,8.05,POPLAR LEVEL @ JEFFERSON,24 HOURS,KYTC,1,2,NaN

In [9]:
SIG.INTID
#INTXN.INTID.values

0          76747569996
1          78959406728
2         123759407630
3         143907249996
4         184229013860
             ...
1086      822801889996
1087       2834756E294
1088      698671329996
1089      978905189996
1090     1217075539999
Name: INTID, Length: 1091, dtype: object

In [30]:
def digit_compare(d1, d2):
    ...

number = pyp.Word(string.hexdigits)
parsed = number.parse_string("    763553E53")
parsed[0]

'763553E53'

In [32]:
## EEMPORTANTE
SIG.INTID = SIG.INTID.apply(lambda x:number.parse_string(x)[0])
INTXN.INTID = INTXN.INTID.apply(lambda x:number.parse_string(x)[0])

In [40]:
sig_selection = INTXN[INTXN.INTID.isin(SIG.INTID)]
sig_selection.head()

,X,Y,OBJECTID,SIFCODE1,SIFCODE2,INTID,SCCAD_ID,FST_INTPRE,FST_INTNAME,FST_INTSUF,SEC_INTPRE,SEC_INTNAME,SEC_INTSUF,X_COORD,Y_COORD,FST_SIFID,SEC_SIFID,GLOBALID
100,-85.526189,38.246277,102,4077,5940,16340775940,163,,JUNEAU,DR,,SHELBYVILLE,RD,1273922.750,274301.68750,3822,5383,{601F7A8D-0623-408D-801E-D5663549E08B}
102,-85.510589,38.245408,104,9093,9409,16790939409,167,,DATA VAULT,DR,N,ENGLISH STATION,RD,1278398.125,273923.40625,7984,8239,{1723F4AE-EC1C-4BE4-A724-F82A94300A48}
113,-85.504708,38.242108,115,5940,9996,18059409996,180,,SHELBYVILLE,RD,,I 265 RAMP,,1280070.750,272698.75000,5383,8763,{52E35834-1777-48F6-91B2-1963B26E8AA5}
181,-85.524292,38.304235,184,1224,7132,28012247132,280,,COLLINS,LN,,WESTPORT,RD,1274759.625,295398.50000,1230,6413,{ED9E6919-93CF-42EC-9764-B739162CA809}
182,-85.515884,38.289871,185,1053,1224,28110531224,281,,CHAMBERLAIN,LN,,COLLINS,LN,1277100.400,290134.72500,1044,1230,{DF692158-1B64-4DBA-A7BC-01B8F4C84E7D}

In [57]:
sig_selection
intid_2 = SIG[SIG.INTID == "2"]
any(intid_2.OBJECTID.isin(sig_selection.OBJECTID))
# None of the INTID == 2 rows made it in

False

MORE COLUMNS

In [12]:
# OBJECID == SCCAD_ID ?
INTXN[INTXN.OBJECTID != INTXN.SCCAD_ID] # OBJECTID = 19 ; SCCAD_ID = 20

,X,Y,OBJECTID,SIFCODE1,SIFCODE2,INTID,SCCAD_ID,FST_INTPRE,FST_INTNAME,FST_INTSUF,SEC_INTPRE,SEC_INTNAME,SEC_INTSUF,X_COORD,Y_COORD,FST_SIFID,SEC_SIFID,GLOBALID
18,-85.492168,38.218128,19,5122,9929,2051229929,20,,POPLAR,LN,S,ENGLISH STATION,RD,1.283554e+06,263918.22375,4696,8704,{4527F340-3BFE-4AE4-921A-CAB5A9E7B05F}
19,-85.503449,38.217349,20,5122,7720,2151227720,21,,POPLAR,LN,,OLD POPLAR,LN,1.280310e+06,263678.40500,4696,6911,{3DE37AF3-105D-44D0-B6F0-FF9B4D8B8A73}
20,-85.477992,38.218724,21,7178,9984,2271789984,22,,WIBBLE HILL,RD,S,BECKLEY STATION,RD,1.287632e+06,264079.25000,6457,8752,{F95F7045-DA73-441E-A598-7D35BB1ABF93}
21,-85.484579,38.215627,22,7178,9929,2371789929,23,,WIBBLE HILL,RD,S,ENGLISH STATION,RD,1.285722e+06,262978.12500,6457,8704,{8AE630B7-9C3F-4509-BB5D-76E59E0067F4}
22,-85.505103,38.226739,23,9349,9996,2493499996,24,,I 265 NORTH,,,I 265 RAMP,,1.279881e+06,267104.00000,8197,8763,{279A0EAA-7CAD-4989-975E-09C85520E730}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20823,-85.863923,38.185293,98435,F677,F675,30157F677F675,30157,,MAPLE GROVE,PL,,LAUREL STAND,WAY,1.176552e+06,253618.50625,15529,15527,{76E24201-B996-49FF-93C0-F63FB4C4129E}
20824,-85.864155,38.185290,98436,F676,F675,30155F676F675,30155,,WOODLAND MILLS,DR,,LAUREL STAND,WAY,1.176486e+06,253618.50625,15528,15527,{9A2E2CD7-FF1C-4F65-838D-692CBC63CFDF}
20825,-85.864536,38.187825,98437,F676,3703,30156F6763703,30156,,WOODLAND MILLS,DR,,LADD,AVE,1.176392e+06,254543.33000,15528,3500,{D79BB8DD-D3E6-4CF0-8C2D-AF9C049237C1}
20826,-85.897758,38.079360,98747,E806,F678,30158E806F678,30158,,TRAIN STATION,WAY,,RAILCAR,RD,1.166139e+06,215220.27875,13615,15530,{17D12092-E4C1-4BF0-B02C-6D3663CB87D0}
20827,-85.897341,38.081713,98748,E806,4832,30159E8064832,30159,,TRAIN STATION,WAY,W,ORELL,RD,1.166274e+06,216074.52500,13615,4461,{ACE06602-99DA-4F94-8EBC-95E57504480E}

In [13]:
# SIFCODES
display(
df['SIFCODE1'].value_counts(),
df['SIFCODE2'].value_counts())

SIFCODE1
0384    164
1612    148
0724    102
0702     68
0934     67
       ...
1949      1
4630      1
8281      1
6494      1
9340      1
Name: count, Length: 7180, dtype: int64

SIFCODE2
9995    187
9998    140
9996    113
9997    109
6394     92
       ...
1449      1
2097      1
4049      1
1376      1
F678      1
Name: count, Length: 8266, dtype: int64