In [3]:
import pandas as pd
from pandasql import sqldf
import pyparsing as pyp
from os import path
import string

# TODO Solve this problem with the relative paths.
DATA_IN = '../../data/clean/Jefferson_County_KY_Street_Intersections.csv'
assert path.exists(DATA_IN)

df = pd.read_csv(DATA_IN, index_col=0)
df.head(5)

,intid,main_street,cross_street,main_suffix,cross_suffix,cross_prefix,main_prefix,longitude,latitude
OBJECTID,,,,,,,,,
1,154647662,REHL,REHL,RD,CT,W,,-85.510444,38.205887
2,254646551,REHL,TUCKER STATION,RD,RD,,,-85.528169,38.200376
3,354646551,REHL,TUCKER STATION,RD,RD,,,-85.528419,38.200360
4,431949996,I 64 EAST,I 265 RAMP,,,,,-85.504954,38.222603
5,593499996,I 265 NORTH,I 265 RAMP,,,,,-85.505546,38.222127

In [33]:
MST = df.main_street

# Interstates
Iroads = MST[MST.str.startswith('I ')].unique()

number = pyp.Word(pyp.nums)
I_expr = pyp.Literal("I") + pyp.Word(pyp.nums) + pyp.Word(pyp.alphas.upper())

test = Iroads[0]

I, number, suffix  = I_expr.parse_string(test)
I, number, suffix

('I', '64', 'EAST')

In [36]:
XST = df.cross_street

XST[XST.str.startswith('I')].unique()

array(['I 265 RAMP', 'I 64 RAMP', 'ISLEWORTH', 'IAN', 'IVY OAKS',
       'I 71 RAMP', 'I 71 SOUTH', 'I 264 RAMP', 'INDIAN HILLS',
       'I 264 WEST', 'INNISBROOK', 'INNES TRACE', 'INDIAN RIDGE',
       'INDIAN WOODS', 'IOLA', 'IRIS', 'INDOCIN', 'INDIAN CREST',
       'ISABEL', 'INGLE', 'IRIS BED', 'INVERARY', 'INDIAN LEGENDS',
       'INDIAN LAKE', 'IVYBRIDGE', 'IRON GATE', 'ITWORTH', 'IVYWOOD',
       'INDIAN', 'ILEX', 'IDLEWOOD', 'IRVIN PINES', 'INDEPENDENCE SCHOOL',
       'IONA', 'IRON MOUNTAIN', 'INDIAN FALLS', 'IRONWOOD', 'IONIC',
       'I 65 RAMP', 'IDLEWYLDE', 'INDUSTRY', 'ILLINOIS', 'IOWA', 'IVY',
       'INDIAN CREEK', 'INDIANA', 'ISAAC', 'INNIS', 'INGLESIDE',
       'ISAAC CALDWELL', 'IVANHOE', 'INDIAN OAKS', 'IROQUOIS',
       'INVERNESS', 'IROQUOIS GARDENS', 'IDA', 'IVAN', 'INDEPENDENCE',
       'IVY RIDGE', 'INTERCHANGE', 'INDUSTRIAL', 'IDLE HOUR', 'IMPERIAL',
       'INVICTA', 'INDIGO', 'INTERNATIONAL', 'INTERMODAL', 'IRON HORSE',
       'INSPIRATION', 'ICHABOD', 'INTERLAKEN', 'INDIAN GRASS',
       'I 71 NORTH', 'IMPATIENS', 'IMPERATOR', 'IVY CREST', 'IVY SPRINGS',
       'ISLAND POINTE', 'I 64 EAST', 'I 264 EAST', 'I 265 SOUTH',
       'ISABELLA VIEW', 'INTEGRITY', 'IRONGATE FARM', 'I 64 WEST',
       'I 265 NORTH', 'INDIAN PIPE', 'I 65 SOUTH', 'I 65 NORTH',
       'IN-265 NORTH', 'IN-265 SOUTH', 'IN-265 RAMP'], dtype=object)

In [133]:
import re
re.search('[0-9]', '2nd')

In [168]:

pattern = '([^0-9]*)([0-9]+)([^0-9]*)'
digit = '[0-9]'

def hasdigit(value):
    match = re.search(digit, value)
    if bool(match):
        return True
    else:
        return False
    
def startswith(value):
    match = re.search('^[0-9]', value)
    if not match:
        return False
    else:
        return match.string
    
startswith('3hello')

'3hello'

In [178]:
    
XS = df[df.cross_street.apply(hasdigit) == True].cross_street
hasdigit_names = pd.DataFrame(XS.unique(), columns=['raw'])
NST = pd.Series(hasdigit_names.raw.unique())

NST.str.startswith("[0-9]")

0     False
1     False
2     False
3     False
4     False
      ...
80    False
81    False
82    False
83    False
84    False
Length: 85, dtype: bool