In [3]:
import pandas as pd
from os import path

DATA_IN = '../data/clean/signals.csv' 
assert path.exists(DATA_IN)

df = pd.read_csv(DATA_IN, index_col=0)
df.head()

,longitude,latitude,row_ID,unit_ID,sig_ID,main_street,cross_street,route,milepoint,times,owner,type,int_ID,ATMSID
0,-85.499337,38.270632,1,MPW017206,SIG017206,OLD HENRY,I 265 RAMP,KY-3084,1.250,24 HOURS,KYTC,1,76747569996,NaN
1,-85.498479,38.241589,2,MPW017211,SIG017211,SHELBYVILLE,BECKLEY WOODS,US-60,12.291,24 HOURS,KYTC,1,78959406728,NaN
2,-85.493550,38.240517,3,MPW017290,SIG017290,SHELBYVILLE,LAKE FOREST,US-60,12.580,24 HOURS,KYTC,1,123759407630,NaN
3,-85.570212,38.311002,4,MPW015159,SIG015159,BROWNSBORO,I 265 RAMP,KY-22,3.700,24 HOURS,KYTC,1,143907249996,NaN
4,-85.627965,38.283916,5,MPW011726,SIG011726,HERR,LIME KILN,KY-22,0.440,24 HOURS,KYTC,1,184229013860,NaN

In [6]:
df[df.main_street.str.startswith('W ')].main_street

124            W MAIN ST
210    W BRECKINRIDGE ST
380            W MAIN ST
402        W BURNETT AVE
534            W MAIN ST
666        W CHESTNUT ST
735           W BROADWAY
Name: main_street, dtype: object

In [23]:
thorofare = df.groupby('main_street')['cross_street'].size().sort_values(ascending=False)

thorofare[thorofare.values > 1]

main_street
BARDSTOWN        58
BROADWAY         36
DIXIE            32
CHESTNUT         27
BROWNSBORO       21
                 ..
BEULAH CHURCH     2
COOPER CHAPEL     2
ANTLE             2
22ND              2
BELMAR            2
Name: cross_street, Length: 150, dtype: int64

In [1]:
df[df.TIMES == 'ACTUATED']

result = df[df.INTID == "2"][['INTID', 'SIGID']]

NameError: name 'df' is not defined