In [7]:
import pandas as pd
from pandasql import sqldf
import pyparsing as pyp
from os import path
import re
import string

# TODO Solve this problem with the relative paths.
INTX_PATH = '../data/clean/Jefferson_County_KY_Street_Intersections.csv'
assert path.exists(INTX_PATH)
INTX = pd.read_csv(INTX_PATH, index_col=0)

SIG_PATH = "../data/clean/Jefferson_County_KY_Signalized_Intersections.csv"
assert path.exists(SIG_PATH)
SIG = pd.read_csv(SIG_PATH, index_col=0)

display(INTX.head(3), SIG.head(3))

,main_street,cross_street,main_suffix,cross_suffix,cross_prefix,main_prefix,longitude,latitude
intid,,,,,,,,
154647662,REHL,REHL,RD,CT,W,,-85.510444,38.205887
254646551,REHL,TUCKER STATION,RD,RD,,,-85.528169,38.200376
354646551,REHL,TUCKER STATION,RD,RD,,,-85.528419,38.200360

,main_street,cross_street,longitude,latitude,description
intid,,,,,
76747569996,OLD HENRY,I 265 RAMP,-85.499337,38.270632,OLD HENRY @ I 265 RAMP
78959406728,SHELBYVILLE,BECKLEY WOODS,-85.498479,38.241589,SHELBYVILLE @ BECKLEY WOODS
123759407630,SHELBYVILLE,LAKE FOREST,-85.493550,38.240517,SHELBYVILLE @ LAKE FOREST

In [19]:
len(SIG)

1070

In [25]:
SIG

,main_street,cross_street,longitude,latitude,description
intid,,,,,
76747569996,OLD HENRY,I 265 RAMP,-85.499337,38.270632,OLD HENRY @ I 265 RAMP
78959406728,SHELBYVILLE,BECKLEY WOODS,-85.498479,38.241589,SHELBYVILLE @ BECKLEY WOODS
123759407630,SHELBYVILLE,LAKE FOREST,-85.493550,38.240517,SHELBYVILLE @ LAKE FOREST
143907249996,BROWNSBORO,I 265 RAMP,-85.570212,38.311002,BROWNSBORO @ I 265 RAMP
184229013860,HERR,LIME KILN,-85.627965,38.283916,HERR @ LIME KILN
...,...,...,...,...,...
822801889996,BILLTOWN RD,I 265 RAMP,-85.546671,38.147768,BILLTOWN RD @ I 265 RAMP
2834756E294,OLD HENRY RD,TERRA CROSSING BLVD,-85.495722,38.271982,OLD HENRY @ TERRA CROSSING BLVD
698671329996,WESTPORT RD,I 265 RAMP,-85.551047,38.296855,WESTPORT RD @ I 265 RAMP
978905189996,BEULAH CHURCH RD,I 265 RAMP,-85.614517,38.125808,BEULAH CHURCH RD @ I 265 RAMP
1217075539999,ZORN AVE,I 71 RAMP,-85.697942,38.275734,NaN