In [28]:
import pandas as pd
from pandasql import sqldf
import pyparsing as pyp
from os import path
import re
import string

# TODO Solve this problem with the relative paths.
INTX_PATH = '../data/clean/Jefferson_County_KY_Street_Intersections.csv'
assert path.exists(INTX_PATH)

INTX = pd.read_csv(INTX_PATH, index_col=0)
INTX.head(5)

SIG_PATH = "../data/clean/signals.csv"
assert path.exists(SIG_PATH)

SIG = pd.read_csv(SIG_PATH)
SIG.head(3)

,Unnamed: 0,longitude,latitude,row_ID,unit_ID,sig_ID,main_street,cross_street,route,milepoint,times,owner,type,int_ID,ATMSID
0,0,-85.499337,38.270632,1,MPW017206,SIG017206,OLD HENRY,I 265 RAMP,KY-3084,1.250,24 HOURS,KYTC,1,76747569996,NaN
1,1,-85.498479,38.241589,2,MPW017211,SIG017211,SHELBYVILLE,BECKLEY WOODS,US-60,12.291,24 HOURS,KYTC,1,78959406728,NaN
2,2,-85.493550,38.240517,3,MPW017290,SIG017290,SHELBYVILLE,LAKE FOREST,US-60,12.580,24 HOURS,KYTC,1,123759407630,NaN

In [30]:
INTX_streets = pd.Series(pd.concat((INTX.main_street, INTX.cross_street), ignore_index=True).unique())
INTX_streets

SIG_streets = pd.Series(pd.concat((SIG.main_street, SIG.cross_street), ignore_index=True).unique())
SIG_streets

0                OLD HENRY
1              SHELBYVILLE
2               BROWNSBORO
3                     HERR
4           U S HIGHWAY 42
              ...
619             THIXTON LN
620          I 265 SB RAMP
621           OLD HEADY RD
622              ORMSBY LN
623    TERRA CROSSING BLVD
Length: 624, dtype: object